@font-face {
    font-family: "BebasNeue Bold";
    src: url("../assets/BebasNeue\ Bold.otf");
}

*{
    margin: 0;
    padding: 0;
    font-family: "BebasNeue Bold", serif;
}

html {
    scroll-behavior: smooth;
    /*
    background:linear-gradient(-45deg, #5a5a5a, #ffffff, #e7e7e7, #3d3d3d);
    background-size: 400%, 400%;
    position: relative;
    animation: animate 20s ease-in-out infinite;
    */
    
}

.navbar{
    user-select: none;
    width: 100%;
    background: white;
    position: fixed;
    z-index: 200;
    user-select: none;
}

.navbar .logo {
    float: left;
    margin: 0 30px;
}

.navbar .logo img {
    vertical-align: middle;
    height: 50px;
}

.navbar .logo a {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    margin: 0px 0px;
    padding: auto 25px;
}

.navbar img{
    width: auto;
    vertical-align: middle;
}

.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar ul li{
    display: inline-block;
    margin: 0 8px;
}

.navbar ul li a{
    font-family: 'Stick', sans-serif;
    font-size: 36px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    margin: 0px 10px;
    transition: all 0.2s linear;
}

.navbar ul li a:hover{
    color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
    .navbar ul {
        position: fixed;
        width: 100%;
        height: auto;
        background: rgba(0, 0, 0, 0.5);
        top: -100%;
        left: 0;
        text-align: center;
        transition: 0.5s;
    }
}

.top-section {
    text-align: center;
    width: 100%;
    height: 110vh;
    background: url(../assets/nigaAim.png);
    background: linear-gradient(rgba(255, 255, 255, 0) 100vh, rgba(255,255,255,255)), url(../assets/nigaAim.png);
    background-size: cover;
    background-position: center top;
}

.top-section img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.member-section {
    text-align: center;
}

.member-section h1 {
    font-size: 72px;
    line-height: 72px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.member-section h2 {
    color: rgb(75, 75, 75);
    font-size: 32px;
    line-height: 48px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.member-section .context {
    max-width: 90vh;
    margin: auto auto;
    text-align: center;
}

.member-section ul {
    margin-top: 20px;
    list-style-type: none;
}

.member-section ul li {
    display: inline-block;
    margin: 25px 25px;
}

.member-section ul li img{
    width: 128px;
    border-radius: 100%;
    background: black;
    border: solid 4px black;
    box-shadow: 0 0 12px rgb(0, 0, 0, 0.4);
    transition: all 0.2s linear;
}

.member-section ul li a{
    color: black;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    transition: all 0.2s linear;
}

.member-section ul li a p {
    margin-top: 0px;
    transition: all 0.2s linear;
}

.member-section ul li a:hover img {
    transform: translateY(-7px);
    opacity: 0.7;
}

.member-section ul li a:hover p{
    transform: translateY(-7px);
    opacity: 0.7;
}

.contact-section {
    text-align: center;
}

.contact-section h1 {
    font-size: 72px;
    line-height: 72px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.contact-section h2 {
    font-size: 32px;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    margin: 50px 50px;
}

.contact-section ul{
    list-style-type: none;
}

.contact-section ul li {
    display: inline-table;
    margin: 25px 25px;
}

.contact-section ul li img {
    width: 100px;
    border-radius: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transition: all 0.2s linear;
}

.contact-section ul li img:hover {
    opacity: 0.5;
}