.profile-section {
    text-align: center;
    padding-top: 100px; 
    padding-bottom: 100px;

    background:linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 300%, 300%;
    position: relative;
    animation: animate 10s ease-in-out infinite;
}

.profile-section h1 {
    font-size: 128px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.profile-section h2 {
    font-size: 32px;
    line-height: 34px;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.profile-section p {
    font-family: 'Stick', sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    margin: 50px 0px;
}

.profile-section img {
    width: 400px;
    max-width: 70%;
    margin: 50px 50px;
    background: black;
    border: solid 2px black;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.profile-section .context {
    width: 80vh;
    max-width: 80%;
    padding: 120px 0px;
    margin: auto auto;
}

.profile-section .context h1 {
    color: rgba(0, 0, 0, 0.9);
    font-size: 72px;
    line-height: 72px;
    font-weight: bold;
}

.profile-section .context h2 {
    color: rgba(0, 0, 0, 0.8);
    margin-top: 0px;
    margin-bottom: 50px;
}

.profile-contact-section {
    text-align: center;
    background: black;
    border: 5px solid rgba(255, 255, 255, 0.2);
    padding-top: 50px;
    padding-bottom: 50px;
}

.profile-contact-section h1{
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    font-size: 64px;
    line-height: 64px;
}

.profile-contact-section h2{
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    font-size: 32px;
}

.profile-contact-section ul{
    list-style-type: none;
}

.profile-contact-section ul li {
    display: inline-table;
    margin: 25px 25px;
}

.profile-contact-section ul li img {
    width: 64px;
    border-radius: 100%;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: all 0.2s linear;
}

.profile-contact-section ul li img:hover {
    opacity: 0.7;
}